<%= form_with(model: visit, local: true) do |form| %>
  <% if visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :day_of_weeks %>
    <%= form.text_field :day_of_weeks, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if visit.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', visit, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if visit.persisted? %>
      <%= link_to "Cancel", visit, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", visits_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
