


<div class="row">
  <div class="col-sm-6">
    <h1>Exhibitions</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_exhibition_path, class: 'btn btn-primary' do %>
    Add New Exhibition
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Star time</th>
            <th>End time</th>
            <th>User</th>
            
      </tr>
    </thead>

    <tbody>
      <% @exhibitions.each do |exhibition| %>
        <%= content_tag :tr, id: dom_id(exhibition), class: dom_class(exhibition) do %>
          
            <td><%= link_to exhibition.name, exhibition %></td>
          

                      <td><%= exhibition.star_time %></td>
                      <td><%= exhibition.end_time %></td>
                      <td><%= exhibition.user %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
